body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    color: white;
}

.green-background {
    background-color: green;
    width: 30vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow-background {
    background-color: yellow;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pink-background {
    background-color: fuchsia;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-background {
    background-color: blue;
    width: 55vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-background {
    background-color: red;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightgreen-background {
    background-color: lightgreen;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.purple-background {
    background-color: purple;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top-container{
    display: flex;
    width: 100%;

}

#middle-container{
    display: flex;

}

#content2{
    width: 80vw;
}

#vertical-middle-container{
    width: 20vw;
}